- Freeware(no license fee) and Open source(open source code -customize as pe ur need)
- Platform independent (same application can be run on windows,mac,linux - PVM wi;; take care internally)
- Dynamically typed
- Interpreted Programming Language(no compiling)
- Extensive Library

In [1]:
a=10
type(a)

int

In [2]:
a=10.0
type(a)

float

In [3]:
a='10.0'
type(a)

str

# Python Reserved Keywords

- Python reserved keywords are words that have special meanings and are already predefined by the 
Python language. These keywords cannot be used as variable names, function names, or any other 
identifiers because they are dedicated to specific purposes within the language. 
For example, if is a keyword that is used to make conditional statements, and def is a keyword that 
is used to define functions.

- According to the official Python documentation1, there are 35 keywords in Python 3.12.1:

- and
- as
- assert
- break
- class
- continue
- def
- del
- elif
- else
- except
- False
- finally
- for
- from
- global
- if
- import
- in
- is
- lambda
- None
- nonlocal
- not
- or
- pass
- raise
- return
- True
- try
- while
- with
- yield
- match
- case

# Python Data Types

- https://www.geeksforgeeks.org/python-data-types/


- Numeric data types: int, float, complex
- 
- String data types: str
- 
- Sequence types: list, tuple, range
- 
- Binary types: bytes, bytearray, memoryview
- 
- Mapping data type: dict
- 
- Boolean type: bool
- 
- Set data types: set, frozenset

In [4]:
a=10
print(bool(a))
b=0
print(bool(b))
c=True
print(bool(c))
d=False
print(bool(d))

True
False
True
False

In [5]:
a=[]
print(bool(a))

False

In [6]:
a=[10]
print(bool(a))

True

# Typecasting

In [7]:
int(10.25)

10

In [8]:
int(10.75)

10

In [9]:
int('python')

ValueError: invalid literal for int() with base 10: 'python'

In [10]:
int('10')

10

In [11]:
float(10)

10.0

In [12]:
str(10.5)

'10.5'

# Immutable Vs Mutable DataTypes

- Immutable data types in Python are objects that cannot be changed after they are created. This means that you cannot add, remove, or replace elements in an immutable object.If we are trying to perform any changes , with those changes a new object will be created.


Some examples of immutable data types in Python are:

- Numbers (int, float, complex, bool)
- Strings
- Bytes
- Tuples
- Frozen sets

Immutable data types have some advantages, such as faster execution, lower memory usage, and protection from accidental modification. However, they also have some limitations, such as requiring more memory allocation and copying operations when modifying values.

 In Python the following data types are considered as Fundamental Data types
 
 int 

 float

 complex

 bool

 str

Fundamental Data Types vs Immutability:

֍ All Fundamental Data types are immutable. i.e once we creates an object,we cannot 
perform any changes in that object. If we are trying to change then with those changes 
a new object will be created. This non-chageable behaviour is called immutability.

֍ In Python if a new object is required, then PVM won’t create object immediately. First 
it will check is any object available with the required content or not. If available then 
existing object will be reused. If it is not available then only a new object will be 
created. The advantage of this approach is memory utilization and performance will be 
improved.

֍ But the problem in this approach is, several references pointing to the same object, by 
using one reference if we are allowed to change the content in the existing object then 
the remaining references will be effected. To prevent this immutability concept is 
required. According to this once creates an object we are not allowed to change 
content. If we are trying to change with those changes a new object will be created.

In [13]:
x=20
id(x)

2142140918672

In [14]:
x=x+1
id(x)

2142140918704

In [15]:
a=b=c=30
id(a),id(b),id(c)

(2142140918992, 2142140918992, 2142140918992)

In [16]:
a is b

True

In [17]:
a==b

True

In [18]:
s='python'
print(id(s))
print(s)

2142183678640
python

In [19]:
s[0]='k'
print(id(s))
print(s)

TypeError: 'str' object does not support item assignment

In [20]:
a=bool(10)
id(a)

140721594488936

In [21]:
a=bool(0)
id(a)

140721594488968

In [22]:
a=bool(30)
id(a)

140721594488936

- Mutable data types in Python are objects that can be changed after they have been created. This means that you can modify, add, or remove elements from a mutable object without creating a new copy of it. Some examples of mutable data types in Python are lists, dictionaries, and sets.

- Lists are ordered collections of items that can be accessed by index. You can use methods like append(), extend(), insert(), remove(), pop(), and sort() to modify a list in place.

- Dictionaries are unordered collections of key-value pairs that can be accessed by key. You can use methods like update(), setdefault(), pop(), popitem(), and clear() to modify a dictionary in place.

- Sets are unordered collections of unique items that support mathematical operations like union, intersection, difference, and symmetric difference. You can use methods like add(), remove(), discard(), pop(), and clear() to modify a set in place.

In [23]:
l=[10,20,30]
print(l)
print(id(l))

[10, 20, 30]
2142255942912

In [24]:
l[0]=90
print(l)
print(id(l))

[90, 20, 30]
2142255942912

In [25]:
s={1,2,3,4}
print(type(s))
print(s)
print(id(s))

<class 'set'>
{1, 2, 3, 4}
2142254898528

In [26]:
s.add(7)
print(type(s))
print(s)
print(id(s))

<class 'set'>
{1, 2, 3, 4, 7}
2142254898528

In [27]:
fs =frozenset(s)
print(type(fs))
print(fs)
print(id(fs))

<class 'frozenset'>
frozenset({1, 2, 3, 4, 7})
2142254898752

In [28]:
fs.add(9)

AttributeError: 'frozenset' object has no attribute 'add'

# 'None' Datatype

In [29]:
def f1():
    return "I am learning"

x=f1()
print(x)

I am learning

In [30]:
def f1():
    print("I am learning")

x=f1()
print(x)

I am learning
None

# Escape Sequences

There are certain characters that start with backslash(\), have some specific task to do. These are the non-printable characters and are interpreted in different way by the interpreter.


- \n	New Line
- \\	Backslash
- \’	Single Quote
- \”	Double Quote
- \t	Tab
- \b	Backspace
- \r	Carriage Return
- \v	Vertical Tab

In [31]:
print("Hello \nWorld")

Hello
World

In [32]:
print("Hello\nWorld")

Hello
World

In [33]:
print("Hello \tWorld")

Hello 	World

In [34]:
print("Hello \\ World")

Hello \ World

In [35]:
print("Hello \" World")
print("Hello \' World")

Hello " World
Hello ' World

## Preventing Escape Sequence Interpretation

In [36]:
#1. Doubling backslash
print("Use \\n for new line.")

Use \n for new line.

In [37]:
#2. Raw String
#Here, we use capital R or small r to prevent its default interpretation. We just have to prefix the string with a capital R or small r, it will automatically do the task.

print(r"Use \n for new line.")

Use \n for new line.

In [38]:
#3. Using repr() function
#The repr() function also works in the same way as raw string. It will not interpret the escape sequence and return the object as it is in its printable format. We simply have to pass the string to the repl() function.

print(repr("Use \n for new line."))

'Use \n for new line.'

Use Cases

- Consider scenarios where you need to include a path in a string. Escape characters make it possible to handle such situations without causing errors or unintended behaviour.
- When dealing with user input in a form, escape sequences enable developers to validate and process input containing special characters without causing unintended effects in the program.

# Operators

## 1.Arithmetic

In [39]:
# + for addition
# - for subtraction
# * for multiplication
# / for division
# % for modulus (remainder)
# ** for exponentiation (power)
# // for floor division (quotient) - result can be float or int based on arguments

In [40]:
5/2

2.5

In [41]:
# // for floor division (quotient) - result can be float or int based on arguments 
# if both are int,result will be int
#If atleast one argument is float.result will be float(floor value only)
5//2

2

In [42]:
5//3

1

In [43]:
5.0/3

1.6666666666666667

In [44]:
5.0//3

1.0

In [45]:
5.0//3.0

1.0

In [46]:
import math
math.floor(5.8)

5

In [47]:
math.ceil(5.8)

6

In [48]:
5**2

25

In [49]:
'python' * 3

'pythonpythonpython'

In [50]:
'python' * '3'

TypeError: can't multiply sequence by non-int of type 'str'

In [51]:
'python' * int('3')

'pythonpythonpython'

## 2.Relational

In [52]:
# >,<,>=,<=
10>20

False

In [53]:
#chaining of relational operators
#If all comparisons result true,then result is true 
# If atleast one comparison is false, then result is false

In [54]:
10<20<30

True

In [55]:
10<30<20

False

## 3.Equalty

In [56]:
# ==,!=

In [57]:
10==20

False

In [58]:
10!=20

True

In [59]:
#chaining of relational operators
#If all comparisons result true,then result is true 
# If atleast one comparison is false, then result is false

In [60]:
10==20==20

False

In [61]:
10==10==10

True

## 4.Logical

In [62]:
# and,or,not
# for "not",result is always boolean

In [63]:
not 'python'

False

In [64]:
not ''

True

In [65]:
a=20
b=30
((a>10) and (b>20))

True

In [66]:
#x and y - if x evaluates to False, then result is x
#           if x evaluates to True, then result is y

#x or y - if x evaluates to False, then result is y
#           if x evaluates to True, then result is x

In [67]:
10 and 20

20

In [68]:
10 or 20

10

In [69]:
'python' and 'learn'

'learn'

In [70]:
'python' or 'learn'

'python'

## 5.Assignment

In [71]:
'''
Syntax
=
Assign value of right side of expression to left side operand	x = y + z 

+=
Add and Assign: Add right side operand with left side operand and then assign to left operand	a += b   

-=
Subtract AND: Subtract right operand from left operand and then assign to left operand: True if both operands are equal	a -= b  

*=
Multiply AND: Multiply right operand with left operand and then assign to left operand	a *= b     

/=
Divide AND: Divide left operand with right operand and then assign to left operand	a /= b

%=
Modulus AND: Takes modulus using left and right operands and assign result to left operand	a %= b  

//=
Divide(floor) AND: Divide left operand with right operand and then assign the value(floor) to left operand	a //= b   

**=
Exponent AND: Calculate exponent(raise power) value using operands and assign value to left operand	a **= b     

&=
Performs Bitwise AND on operands and assign value to left operand	a &= b   

|=
Performs Bitwise OR on operands and assign value to left operand	a |= b    

^=
Performs Bitwise xOR on operands and assign value to left operand	a ^= b    

>>=
Performs Bitwise right shift on operands and assign value to left operand	a >>= b     

<<=
Performs Bitwise left shift on operands and assign value to left operand	a <<= b 

'''

'\nSyntax\n=\nAssign value of right side of expression to left side operand\tx = y + z \n\n+=\nAdd and Assign: Add right side operand with left side operand and then assign to left operand\ta += b   \n\n-=\nSubtract AND: Subtract right operand from left operand and then assign to left operand: True if both operands are equal\ta -= b  \n\n*=\nMultiply AND: Multiply right operand with left operand and then assign to left operand\ta *= b     \n\n/=\nDivide AND: Divide left operand with right operand and then assign to left operand\ta /= b\n\n%=\nModulus AND: Takes modulus using left and right operands and assign result to left operand\ta %= b  \n\n//=\nDivide(floor) AND: Divide left operand with right operand and then assign the value(floor) to left operand\ta //= b   \n\n**=\nExponent AND: Calculate exponent(raise power) value using operands and assign value to left operand\ta **= b     \n\n&=\nPerforms Bitwise AND on operands and assign value to left operand\ta &= b   \n\n|=\nPerforms Bitwise OR on operands and assign value to left operand\ta |= b    \n\n^=\nPerforms Bitwise xOR on operands and assign value to left operand\ta ^= b    \n\n>>=\nPerforms Bitwise right shift on operands and assign value to left operand\ta >>= b     \n\n<<=\nPerforms Bitwise left shift on operands and assign value to left operand\ta <<= b \n\n'

In [72]:
x=10
x+=20
x

30

In [73]:
x = 101
x//=2
x

50

## 6.Ternary

In [74]:
# ~a - unary opertor
# a+b - binary operator
# 3 arguments - ternary operator

In [77]:
a=10
b=20
c=40 if a>b else 50
print(c)

50

## 7.Identity

In [78]:
#is , is not

#r1 is r2 - True , if both references are pointing to the same object
#r1 is not r2 - True , if both references are not pointing to the same object

In [79]:
a=10
b=10
a is b

True

In [80]:
id(a),id(b)

(2142140918352, 2142140918352)

In [81]:
l1 = [1,2,3]
l2 =[1,2,3]
id(l1),id(l2)

(2142227559872, 2142256305920)

In [82]:
l1 is l2

False

In [83]:
l1 ==l2

True

## 'is' vs '=='

In [84]:
#r1 is r2 - True , if both references are pointing to the same object
#r1 == r2 - True , if both have same content

In [85]:
l1 = [1,2,3]
l2 =[1,2,3]
id(l1),id(l2)

(2142256405440, 2142256142784)

In [86]:
l3 =l1

In [87]:
id(l3)

2142256405440

In [88]:
l1 is l2

False

In [89]:
l1==l2

True

In [90]:
l1 is l3

True

In [91]:
l1==l3

True

## 8.Membership

In [92]:
# in, not in
#a in sequence- True , if a is a member of the sequence
#a not in sequence- True , if a is not a member of the sequence

In [93]:
s = 'learning python'
print('n' in s)

True

In [94]:
print('z' in s)

False

## Operator precedence in python

In [92]:
'''
Python follows the PEMDAS rule for operator precedence, which stands for 
Parentheses, Exponents, Multiplication and Division, and Addition and Subtraction. 
This means that operators in the same group are evaluated from left to right, 
except for the exponentiation operator **, which is evaluated from right to left. 

For example, 2 * 3 / 4 is evaluated as (2 * 3) / 4, not as 2 * (3 / 4), 
but 2 ** 3 ** 4 is evaluated as 2 ** (3 ** 4), not as (2 ** 3) ** 4.
'''

'\nPython follows the PEMDAS rule for operator precedence, which stands for \nParentheses, Exponents, Multiplication and Division, and Addition and Subtraction. \nThis means that operators in the same group are evaluated from left to right, \nexcept for the exponentiation operator **, which is evaluated from right to left. \n\nFor example, 2 * 3 / 4 is evaluated as (2 * 3) / 4, not as 2 * (3 / 4), \nbut 2 ** 3 ** 4 is evaluated as 2 ** (3 ** 4), not as (2 ** 3) ** 4.\n'

In [95]:
 2 * 3 / 4

1.5

In [96]:
2 ** 3 ** 4

2417851639229258349412352

In [97]:
2 ** (3 ** 4)

2417851639229258349412352

In [98]:
'''
Operator	Description 	Example 	Result


() 	Parentheses	 (3 + 4) * 2	14
**	Exponentiation	 3 ** 2 	9
*, /, %, // 	Multiplication, Division, Modulus, Floor division 	4 * 3	12
+, - 	 Addition, Subtraction
'''

'\nOperator\tDescription \tExample \tResult\n\n\n() \tParentheses\t (3 + 4) * 2\t14\n**\tExponentiation\t 3 ** 2 \t9\n*, /, %, // \tMultiplication, Division, Modulus, Floor division \t4 * 3\t12\n+, - \t Addition, Subtraction\n'

In [99]:
3/2*4+3+(10/5)**3**2-2

519.0

In [95]:
#3/2*4+3+(10/5)**3**2-2
#3/2*4+3+2**3**2-2
#3/2*4+3+2**(3**2)-2
#3/2*4+3+(2**9)-2
#(3/2)*4+3+512-2
#(1.5*4)+3+512-2
#6.0+3+512-2
#519.0

# INPUT statements

In [101]:
x = input("enter ur name : ")
print(type(x))
#return type is always string

enter ur name : ashis
<class 'str'>

In [102]:
x=int(input("enter  a number : "))
print(type(x))

enter  a number : 10.5

ValueError: invalid literal for int() with base 10: '10.5'

In [103]:
x=int(input("enter  a number : "))
print(type(x))

enter  a number : 10
<class 'int'>

In [100]:
x=float(input("enter  a number"))
print(type(x))

enter  a number20.5
<class 'float'>

In [104]:
x=eval(input("enter something : "))
print(type(x))

enter something : ashis

NameError: name 'ashis' is not defined

In [106]:
x=eval(input("enter something"))
print(type(x))

enter something'ashis'
<class 'str'>

In [128]:
x=eval(input("enter something"))
print(type(x))

enter something10
<class 'int'>

In [129]:
x=eval(input("enter something"))
print(type(x))

enter something10.5
<class 'float'>

In [130]:
x=eval(input("enter something"))
print(type(x))

enter something[10.20]
<class 'list'>

In [137]:
a,b=[int(x) for x in input("enter 2 values").split()]
print(a,b)
print(a+b)

enter 2 values10 20
10 20
30

In [139]:
import os
os.getcwd()

'C:\\Users\\sahua'

# OUTPUT statements

In [107]:
a,b,c = 1,2,3
print("a,b,c =",a,b,c)

a,b,c = 1 2 3

In [108]:
#By default output values are seperated by space.If we want we can specify seperator by using "sep" attribute
a,b,c=10,20,30 
print(a,b,c,sep=',') 
print(a,b,c,sep=':')

10,20,30
10:20:30

In [109]:
#print() with end attribute
print("I am") 
print("learning") 
print("Python")

I am
learning
Python

In [110]:
print("I am",end=' ') 
print("learning",end=' ') 
print("Python")

I am learning Python

In [111]:
#print(String, variable list)
#We can use print() statement with String and any number of arguments.
s = "Ashis" 
a = 33 
print("Hello",s,"Your Age is",a)

Hello Ashis Your Age is 33

## : print (formatted string)
    
1) %i  int

2) %d  int

3) %f  float

4) %s  String type

Syntax: print("formatted string" %(variable list))

In [112]:
a=10 
b=20 
c=30 
print("a value is %i" %a) 
print("b value is %d and c value is %d" %(b,c))

a value is 10
b value is 20 and c value is 30

## print() with replacement operator {}

In [113]:
name = "Ashis" 
salary = 10000 
gf = "Sunny" 
print("Hello {0} your salary is {1} and Your Friend {2} is waiting".format(name,salary,gf)) 
print("Hello {x} your salary is {y} and Your Friend {z} is waiting".format(x=name,y=salary,z=gf))

Hello Ashis your salary is 10000 and Your Friend Sunny is waiting
Hello Ashis your salary is 10000 and Your Friend Sunny is waiting

In [114]:
print("Hello {} your salary is {} and Your Friend {} is waiting".format(name,salary,gf))

Hello Ashis your salary is 10000 and Your Friend Sunny is waiting